early-optimal-late {
	display: block;
	margin: 0;
 	padding: 0;	
 	width: 100%;
 	min-height: 20px;
	font-size: 9pt;
	display: table;
}

early-optimal-late li {
	display: table-cell; 
	padding: 3px;
	width: 33%;
	max-width: 33%;
}

early-optimal-late li.optimal {
	display: table-cell; 
	background-color: rgba(26,188,156,0.1);
	border-top: 1px solid #1abc9c;
	border-bottom: 1px solid #1abc9c;
}

early-optimal-late li.early, 
early-optimal-late li.late {
	background-color: rgba(231,76,60,0.1);
	border-top: 1px solid #e74c3c;
	border-bottom: 1px solid #e74c3c;
}